#feed-table {
    margin: 40px 20%;
    width: 50%;
    min-width: 700px;
}
.feed-tr {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 10px 30px;
    background-color: white;
}
.challenge-column {
    float:left;
    width:50%;
}
h6 {
    display: inline;
}
.vote-count {
    padding-left: 5px;
}
.vote-form {
    display: inline;
}