#feed-table {
    margin: 40px auto;
    width: 50%;
    min-width: 750px;
}
#challenge-table{
    margin: 40px auto;
    min-width: 700px;
    max-width: 80%;
}
.feed-tr {
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid darkgrey;
    border-radius: 30px 30px 15px 30px;
    background-color: white;
    overflow: hidden;
}
.challenge-column {
    float:left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 10px;
}
.vote-count {
    padding-left: 5px;
}
.vote-form {
    display: inline;
}
img {
    margin-bottom:10px;
    display: block;
    max-width:100%;
    max-height: 100%;
    width: auto;
    height: auto;
}