body {
    margin:0;
    padding:0;
    height:100%;
    background-color: darkgrey;
}
#body {
    margin-top: 80px;
    margin-bottom: 30px;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    display:inline-block;
}
.center-div {
    text-align: center;
    vertical-align: middle;
}