@(user: User, challenges: List[Challenge])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Global Challenges</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/header.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/footer.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/feed.css")">
    </head>
    <body>
        @header(user)

        <div id="body">
            <div id="challenge-table">
            @import helper._
            @for(challenge <- challenges.reverse){
                <div class="feed-tr">
                    <div class="challenge-div">
                        <div class="challenge-column">
                            <h5><a href="/profile/@challenge.getChallenger.getUser.getId">@challenge.getChallenger.getUser.getUsername</a></h5>
                            <br>
                            <p>@challenge.getChallenger.getText</p>
                            @if(challenge.getChallenger.getImage != null){
                                <img src="@routes.Assets.at("/images/posts/"+challenge.getChallenger.getImage)">
                            }
                            <br>
                            <div id="vote-di">
                                <div class="challenge-column">
                                    <form class="vote-form" method="post" action="/c/@challenge.getId/@challenge.getChallenger.getId">
                                        @CSRF.formField
                                    <button type="submit" class="btn-outline-secondary btn">Vote</button>
                                    </form>
                                    <h6 class="vote-count">@challenge.getCountChallenger</h6>
                                </div>
                            </div>
                        </div>
                        <div class="challenge-column">
                            <h5><a href="/profile/@challenge.getChallengee.getUser.getId">@challenge.getChallengee.getUser.getUsername</a></h5>
                            <br>
                            <p>@challenge.getChallengee.getText</p>
                            @if(challenge.getChallengee.getImage != null){
                                <img src="@routes.Assets.at("/images/posts/"+challenge.getChallengee.getImage)">
                            }
                            <br>
                            <div id="vote-div">
                                <div class="challenge-column">
                                    <form class="vote-form" method="post" action="/c/@challenge.getId/@challenge.getChallengee.getId">
                                        @CSRF.formField
                                    <button type="submit" class="btn-outline-secondary btn">Vote</button>
                                    </form>
                                    <h6 class="vote-count">@challenge.getCountChallengee</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="challengeDateDiv">
                        <p id="challengeId" hidden>@challenge.getId</p>
                        <p id="challengeDate">@challenge.getChallenger.getUser.getUsername on @challenge.getDate.format("MMMM dd YYYY")</p>
                    </div>
                </div>
            }
            </div>
        </div>

        @footer()
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </body>
</html>