@(user: User, challenges: List[Challenge])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Global Challenges</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/header.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/footer.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/feed.css")">
    </head>
    <body>
        @header(user)

        <div id="body">
            <div id="feed-table">
            @for(challenge <- challenges){
                <div class="feed-tr">
                    <p hidden>@challenge.getId()</p>
                    @challenge.getChallenger().getUser().getUsername | @challenge.getChallengee().getUser().getUsername()
                    <br>
                    @challenge.getDate()
                </div>
            }
            </div>
        </div>

        @footer()
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </body>
</html>