@(user: User, posts: List[Post])
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Global Feed</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/header.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/footer.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/stylesheets/feed.css")">
    </head>
    <body>
        @header(user)

        <div id="body">
            <div id="feed-table">
                @for(post <- posts){
                    <div class="feed-tr">
                        <p hidden>@post.getId()</p>
                        @post.getUser().getUsername() | @post.getPostDate()
                        <br>
                        @post.getText()
                        <br>
                        <a id="challengeBtn" class="close" href="/challenge/new/@post.getId()">Challenge +</a>
                    </div>
                }
            </div>
        </div>

        @footer()
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </body>
</html>