@(user: User)
<!-- TODO: Figure out why modals are not working -->
<div id="header">
    <div id="left-header-title">
        @if(user != null) {
            <h2><a href="@routes.FeedController.getGlobalFeed"><strong>Battle Memes</strong></a>  </h2>
            <h3>|</h3>
            <h5 id="username">Welcome, </h5><a href="/profile" id="actual-username">@user.getUsername</a><h5> !</h5>
        }else{
            <h1><a href="@routes.Application.index">Battle Memes</a>  </h1>
        }
    </div>
    <div id="right-header-buttons">
        @if(user != null){
            <form class="inline" action="@routes.PostController.getNewPost" method="get">
                <input type="submit" class="btn btn-outline-primary" value="New Post">
            </form>
            <form class="inline" action="@routes.FeedController.getGlobalChallengeFeed" method="get">
                <input type="submit" class="btn btn-outline-secondary" value="Challenges">
            </form>
            <form class="inline" action="@routes.UserController.logout" method="get">
                <input type="submit" class="btn btn-outline-dark" value="Sign Out">
            </form>
        }else{
            <form class="inline" action="@routes.UserController.getSignUp" method="get">
                <input type="submit" class="btn btn-outline-secondary" value="Sign Up">
            </form>
            <form class="inline" action="@routes.UserController.getSignIn" method="get">
                <input type="submit" class="btn btn-outline-primary" value="Sign In">
            </form>
        }
    </div>
</div>
<div id="postModal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New Post</h4>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" name="text" />
                    <button class="btn btn-default" type="submit">Post</button>
                </form>
            </div>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Cancel</button>
        </div>
    </div>
</div>

<div id="signUpModal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <form action="/signup" method="post">
                <div class="modal-body">
                    <input name="email" type="email" />
                    <input name="username" type="text" />
                    <input name="password" type="password" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="signInModal" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign In</h4>
            </div>
            <form action="/signin" method="post">
                <div class="modal-body">
                    <input name="email" type="email" />
                    <input name="password" type="password" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Sign In">
                </div>
            </form>
        </div>
    </div>
</div>