@(user: User)
<!DOCTYPE html>
<html>
    <head>
        <title>Battle Memes</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/header.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/footer.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    </head>
    <body>
        @header(user)

        <div id="body" class="center-div">
            <p>Welcome to Battle Memes!</p>
            <p>This is placeholder text for now... More memes to come!</p>
            <form action="@routes.FeedController.getGlobalFeed()" method="get">
                <input type="submit" value="Global Feed" class="btn btn-secondary">
            </form>
            <br>
            <form action="@routes.FeedController.getGlobalChallengeFeed()" method="get">
                <input type="submit" value="Global Challenge Feed" class="btn btn-secondary">
            </form>
        </div>

        @footer()
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </body>
</html>
