@(user: User)
<!DOCTYPE html>
<html>
    <head>
        <title>Battle Memes</title>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/header.css")">
    </head>
    <body>
        @header(user)

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </body>
</html>
