@(user:User)(post: Post)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Challenge</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link href="@routes.Assets.at("/stylesheets/header.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/main.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/newPost.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/bootstrap.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/feed.css")" rel="stylesheet">
    </head>
    <body>
        @header(user)

        <div id="body">
            <div id="feed-table">
                <div class="feed-tr">
                    <h5>@post.getUser.getUsername | @post.getPostDate</h5>
                    <br>
                    <p>@post.getText</p>
                    @if(post.getImage != null){
                        <img src="@routes.Assets.at("images/posts/"+post.getImage)">
                    }
                </div>
            </div>
            <div id="newPostDiv" class="center-div">
                <form class="form-group" enctype="multipart/form-data" action="/challenge/new/@post.getId" method="post">
                    @import helper._
                    @CSRF.formField
                    <textarea class="form-text-size" name="text" placeholder="Enter your challenge memes here..." maxlength="500" autofocus></textarea>
                    <br>
                    <input type="file" id="file-upload" name="picture" accept="image/*" />
                    <br>
                    <a class="form-group btn btn-secondary" href="/global">Cancel</a>
                    <input class="form-group btn btn-primary" type="submit" value="Create Challenge" />
                </form>
            </div>
        </div>
    </body>
</html>