@(user:User)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Post</title>
        <link href="@routes.Assets.at("/stylesheets/header.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/main.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/newPost.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/bootstrap.min.css")" rel="stylesheet">
    </head>
    <body>
        @header(user)

        <div id="body">
            <div>
                <form class="form-group" action="/post/new" method="post">
                    @import helper._
                    @CSRF.formField
                    <textarea class="form-text form-group form-text-size" name="text" placeholder="Enter your memes here..."></textarea>
                    <input class="form-group btn btn-primary" type="submit" value="Create Post" />
                </form>
            </div>
        </div>
    </body>
</html>