@(user:User)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>New Post</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.ico")">
        <link href="@routes.Assets.at("/stylesheets/header.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/footer.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/main.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/newPost.css")" rel="stylesheet">
        <link href="@routes.Assets.at("/stylesheets/bootstrap.min.css")" rel="stylesheet">
    </head>
    <body>
        @header(user)

        <div id="body">
            <div id="newPostDiv" class="center-div">
                <form class="form-group" action="/post/new" method="post">
                    @import helper._
                    @CSRF.formField
                    <textarea class="form-text-size" name="text" placeholder="Enter your memes here..."></textarea>
                    <br>
                    <!--<input type="file" id="file-upload" name="file" accept="image/*" />
                    <br>-->
                    <a class="form-group btn btn-secondary" href="/global">Cancel</a>
                    <input class="form-group btn btn-primary" type="submit" value="Create Post" />
                </form>
            </div>
        </div>

        @footer()
    </body>
</html>